In [29]:
import pandas as pd
import random

# Load your CSV file
file_path = 'E:\\Data Analyst\\Project\\Scraped Dataset\\Cleaned_Real_estate.csv'
df = pd.read_csv(file_path)

# Filter for rows with Type 'Commercial' and Address containing 'New York' (ignoring case)
commercial_ny = df[(df['Type'] == 'Commercial') & (df['Address'].str.contains('New York', case=False, na=False))]

# Keep the first 30 New York addresses unchanged
ny_keep = commercial_ny.head(30)

# Remaining rows after the first 30 that need to be updated
remaining_ny = commercial_ny.iloc[30:]

# Define a list of different cities/states to distribute the remaining addresses
locations = [
    ('California', 'Los Angeles', 90001),
    ('California', 'San Francisco', 94101),
    ('Texas', 'Austin', 73301),
    ('Florida', 'Miami', 33101),
    ('Utah', 'Salt Lake City', 84101),
    ('Illinois', 'Chicago', 60601),
    ('Ohio', 'Columbus', 43201),
    ('Nevada', 'Las Vegas', 89101),
    ('Washington', 'Seattle', 98101),
    ('Arizona', 'Phoenix', 85001),
    ('Georgia', 'Atlanta', 30301),
    ('North Carolina', 'Charlotte', 28202)
]

# Function to generate random street addresses
def random_street():
    street_number = random.randint(100, 999)
    street_name = random.choice(['Main St', 'Maple Ave', 'Oak St', 'Pine St', 'Elm St', 'Cedar Blvd', 'Sunset Blvd'])
    return f'{street_number} {street_name}'

# Loop through the remaining New York commercial addresses
for i, row in remaining_ny.iterrows():
    state, city, pincode = random.choice(locations)
    random_address = random_street()  # Generate a random street address
    # Update the Address and Pincode directly in the main dataframe (without dropping rows)
    df.loc[row.name, 'Address'] = f'{random_address}, {city}, {state}'
    df.loc[row.name, 'Pincode'] = pincode
    # Leave the Type unchanged (still "Commercial")

# Combine the unchanged rows with the modified dataframe (without dropping any rows)
# Ensure no rows from the original dataframe are dropped.
df_updated = df.copy()

# Save the updated dataframe to a new CSV file
output_file_path = 'E:\\Data Analyst\\Project\\Scraped Dataset\\Updated_Real_estate.csv'
df_updated.to_csv(output_file_path, index=False)

print(f'Updated file saved at {output_file_path}')

Updated file saved at E:\Data Analyst\Project\Scraped Dataset\Updated_Real_estate.csv

In [34]:

import numpy as np
import pandas as pd 
df = pd.read_csv(r'E:\Data Analyst\Project\Scraped Dataset\Updated_Real_estate.csv')
pd.set_option('display.max_rows' , None)

df= df.dropna(subset='Pincode')
df.to_csv(r'E:\Data Analyst\Project\Scraped Dataset\Cleaned_Real_estate.csv', index=False)
print("Data saved successfully")

Data saved successfully

In [19]:
df

,Unnamed: 0,Price,Bedroom,Bathrooms,Area in sqft,Address,Type,Pincode
0,0,399900.0,3.0,3.0,"1,688","11615 SW Settler Way, Beaverton, OR 97008",Residential,97008.0
1,1,430000.0,2.0,2.0,"1,744","1079 SE 36th St, South Beach, OR 97366",Residential,97366.0
2,2,289900.0,4.0,2.0,"1,440","15776 S Pierce Rd, Molalla, OR 97038",Residential,97038.0
3,3,299000.0,2.0,1.0,"1,248","852 N Holland St, Portland, OR 97217",Residential,97217.0
4,4,95000.0,2.0,1.0,912,"63171 Fruitdale Rd, Coos Bay, OR 97420",Residential,97420.0
...,...,...,...,...,...,...,...,...
1865,2652,399000.0,NaN,NaN,394,"Office - 230 East 79th Street, New York, NY",Commercial,NaN
1866,2653,5500000.0,NaN,NaN,"2,850","Multi-Use - 94 8th Avenue, New York, NY",Commercial,NaN
1867,2654,1499999.0,NaN,NaN,"5,925","Others - 147 W. 144 St, New York, NY",Commercial,NaN
1868,2658,6000000.0,NaN,NaN,"4,344","Multi-Use - 249 East 49 Street, New York, NY",Commercial,NaN
1869,2659,6000000.0,NaN,NaN,"4,344","Multi-Use - 249 East 49 Street, New York, NY",Commercial,NaN